*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* colors
       light  #85DCB
       dark   #41B3A3  
    */
}
 body {
     background: #45d4c1;
     font-family: Arial, Helvetica, sans-serif;
     color: whitesmoke;
 }

 div.wrapper {
     height: 100vh;
     width: 100vw;
     background: linear-gradient(to bottom left, #053f30e0, #053f30e0);
 }

 div#card {
     height: 70vh;
     width: 70vw;
     background: linear-gradient(#053f30e0, #053f30e0), url(images/card-img.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     border: none;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     overflow: hidden;
     border-radius: 20px;
     box-shadow: 3px 3px 15px  #142b28;

 }

 div#logo-title {
     display: inline-block;
     padding-left: 130px;
     padding-top: 30px;
     color: blanchedalmond;
     font-weight: bold;
     letter-spacing: 1.50px;

     animation-name: logo-anim;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
 }

 div#logo-title span {
     color:  rgb(121, 121, 16);
 }

 @keyframes logo-anim {
    0% {
           opacity: 0;
           transform: translateX(-100%);
    }

    95% {
           transform: translateX(2%);
    }

    100% {
           opacity: 1;
           transform: translateX(0);

    }
}

 ul {
     list-style: none;
     display: flex;
     float: right;
     padding-right: 100px;
 }

 li {
        padding: 30px 30px;
        letter-spacing: 1px;
        z-index: 2;

        animation-name: list-anim;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
 }

 li a {
     text-decoration: none;
     color: blanchedalmond;
     cursor: pointer;
 }

 li a:hover {
     transition: all 500ms;
     color:  rgb(121, 121, 16);
     text-decoration: underline  rgb(179, 153, 115);
     line-height: 22px;
 }

 @keyframes list-anim {
    0% {
           opacity: 0;
           transform: translateX(100%);
    }

    95% {
           transform: translateX(-2%);
    }

    100% {
           opacity: 1;
           transform: translateX(0);

    }
}

div#poly1 {
    height: 120px;
    width: 120px;
    background: url(images/poly1.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    position: relative;
    left: 71%;
    top: 9%;

}

div#poly2 {
    height: 120px;
    width: 120px;
    background: url(images/poly2.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    position: relative;
    left: 79%;
    top: 8%;

}

div#poly3 {
    height: 140px;
    width: 70px;
    background: url(images/poly3.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 25%, 100% 75%, 100% 100%, 0 100%, 0 25%);
    position: relative;
    left: 92.6%;
    top: 7%;

}

div#poly4 {
    height: 120px;
    width: 120px;
    background: rgb(172, 172, 46);
    background-position: center;
    background-size: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    position: relative;
    left: 71%;
    top: -105px;
    z-index: 2;
    text-align: end;
    padding: 50px 10px 30px 0px;
    color: #131212;
    font-weight: 700;
}

div#poly4:hover {
    background: url(images/poly5.jpg);
    background-position: bottom left;
    background-size: cover;
}


div#poly4 a {
    color:  #131212;
}

div#poly4 a:hover {
    text-decoration: none;
    color: whitesmoke;
}

div#poly5 {
    height: 250px;
    width: 230px;
    background: url(images/poly4.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    position: relative;
    left: 50%;
    top: -373px;

}

div#poly6 {
    height: 120px;
    width: 120px;
    background: url(images/poly6.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    position: relative;
    left: 62%;
    top: -80%;

}

div#poly7 {
    height: 200px;
    width: 200px;
    background: url(images/poly3.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    position: relative;
    left: 81%;
    top: -220%;
    z-index: 0;
}

div.poly-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
}

h1#header-text {
    position: absolute;
    top: 110px;
    left: 150px;
    z-index: 500;
}

h1#header-text span#secondary-text {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    display: block;
}

h1#header-text span#primary-text {
    font-size: 105px;
    font-weight: 300;
    letter-spacing: 2px;
    display: block;
    color: rgb(121, 121, 16);
    text-shadow: 2px 2px 5px rgb(49, 46, 46);
}

h1#header-text span#primary-text span#color-text {
    color: whitesmoke;
}

h1#header-text p {
    font-size: 16px;
    width: 330px;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: start;
}

footer ul {
    list-style: none;
    display: flex;
    padding-right: 100px;
    z-index: 1000;
    text-align: center;
    position: absolute;
    top: 390px;
    left: 100px;
}

footer li.footer-nav {
       padding: 30px 30px;
       letter-spacing: 1px;
       z-index: 1000;

       animation-name: list-anim;
       animation-duration: 1s;
       animation-timing-function: ease-in-out;
}

footer li.footer-nav a {
    text-decoration: none;
    color: blanchedalmond;
    cursor: pointer;
    z-index: 1000;
}

footer li.footer-nav a:hover {
    transition: all 500ms;
    color:  rgb(121, 121, 16);
    text-decoration: underline  rgb(179, 153, 115);
    line-height: 22px;
}

@media